@media screen and (min-width: 1300px)  {
    
    .butt-case {
        margin-top: 2em  ;
    }
    .info {
        top: 46vw;
        padding: 0px 9%;
    }
    .number {
        font-size: 1.8em;
        top: 39vw;
        left: 59vw;
    }
    .disclaimer {
        line-height: 20px;
        font-size: 16px;
        margin-top: 0em;
    }
    .title {
        top: 43vw;
        position: absolute;
        left: 54vw;
        color: #080428;
        text-shadow: whitesmoke 1px 1px 1px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1299px) {
    .disclaimer{
        margin-top: -1em;
        line-height: 20px;
        font-size: 14px;
        padding: 0 2.5em;
        }
    .butt-case{
    margin-top: 0em;
    }
    .info{
        top:50vw ;
    }
    .number {
        font-size: 1.6em;
        top: 39vw;
        
        left: 59vw;
    }
   
}
@media screen and (max-width: 1199px){
    .box{
        transform: scale(0.8);
        margin-top: -1em;
    }
    .number{
        font-size: 1.2em;
    }
 
    .title{
        font-size: 1.6em;
    }
    .info{
        font-size: 1.2em;
        top: 54vw;
   }
   .butt-case{
    margin-top: 0em;
   }
}