@font-face {
    font-family: Gloria-A;
    src: url(res/gloria-hallelujah-v15-latin/gloria-hallelujah-v15-latin-regular.woff2) format("woff2");
  }

*{
    color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: Gloria-A; 

}


body{
    background-image:url(res/nave11-01.png), url("res/FONDO.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
} 
.center{
    text-align: center;
}

.row-bg{ 
    height: 100vh; 
}
.row-top{
    justify-content: center !important;
    align-items: center !important;
    margin-top: 32% !important;
}
.space{
    height: calc(2.5vw); 
}

.tit-opt{
    font-size: calc(1.5em + 1.5vw);
    text-align: center;

}
 
.price{
    text-align: center;
    font-size: calc(1em + 0.5vw);
    font-weight: bold;
    margin-bottom: 0;
}
.fee{
    text-align: center;
    margin-top: 0;
}

.num-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quant{
    font-size:3em;
}
.a-s:hover{
        cursor: pointer;
}


.inp-reset{
    background-color: transparent;
    border: none;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    caret-color: transparent;
    color: antiquewhite !important; 
}

.disclaimer{
    text-align: center;
    color: #e1f971;
    font-size:  1vw; 
    margin-top: 2em !important;
}

.num{
    display: flex;
    margin: -1em 5%;

}
.num>div{
    flex: 50%;
  
}
.sus{ 
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    height: 3em;
    position: relative;
    top: 2em;
}

.add{ 
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    height: 3em;
    position: relative;
    top: 2em;
}

.val{
    font-size: 2.5em;
    margin:0.5em ;
 } 
 .mint-button{
    background-color: #45ced4;
    color: antiquewhite;
    font-size: 1.5em;
    width: 6em;
   
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
   
}
.number {
    font-size: 1.6em;
    top: 43.5vw;
    position: absolute;
    left: 63.5vw;
}

.disclaimer{
    text-align: center;
    color: #e1f971;
    margin-top: -3em;
    line-height: 15px; 
    padding: 0 1.5em;
} 
.info-class{
    color: #43ccd2;
    text-align: center; 
    top: 55vw;
    position: absolute;
    left: calc (50vw - 1.5em);
    
}
.fee{
    margin-bottom: 0;
}
 
.title{     
    font-weight: bolder;
    color: #080428;
    max-width: fit-content !important;
    top: 50vw;
    position: absolute;
    left: calc (50vw - 1.5em);
    font-size: 2em;
}

.fin{
    height: 2em;
    top: 72vw;
    position: absolute;
}